<section>
    <ngx-card [config]="{width:'100%'}">
        <div class="d-flex align-items-center justify-content-between">
            <span>Recent Clients</span>
            <ngx-card [config]="{padding:'6px'}">
                <div class="d-flex align-items-center justify-content-center gap-2 cursor-pointer">
                    <i class="fi fi-rs-arrow-up-right small-icon"></i>
                    View all
                </div>
            </ngx-card>
        </div>
        <div class="row mt-2">
            @for (item of clients(); track item.id) {
            <div class="col-6 mt-2">
                <ngx-card [config]="{width:'100%'}">
                    <div class="client-card">
                        <span>
                            <mat-chip class="chip-complete">{{item.name.substring(0,2)}}</mat-chip>
                        </span>
                        <span>
                            <div>{{item.name}}</div>
                            <div>{{item.gstin}}</div>
                        </span>
                        <span class="text-link">
                            {{item.state}}
                        </span>
                    </div>
                </ngx-card>
            </div>
            }
        </div>

    </ngx-card>
</section>