<section>
    <div class="row" *ngIf="isModelLoaded()">
        <div class="col-12 mb-2">
            Summary
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-6">
                    <ngx-card [config]="{width:'100%'}">
                        <div class="text-muted fs-10">Total invoices</div>
                        <div>{{clientSummary().totalInvoices}}</div>
                    </ngx-card>
                </div>
                <div class="col-12 col-md-6 c-gap">
                    <ngx-card [config]="{width:'100%'}">
                        <div class="text-muted fs-10">Total billed</div>
                        <div>{{clientSummary().totalBilled | currency:'INR'}}</div>
                    </ngx-card>
                </div>
                <div class="col-12 col-md-6 mt-0 mt-md-3 c-gap">
                    <ngx-card [config]="{width:'100%'}">
                        <div class="text-muted fs-10">Amount paid</div>
                        <div>{{clientSummary().amountPaid | currency:'INR'}}</div>
                    </ngx-card>
                </div>
                <div class="col-12 col-md-6 mt-0 mt-md-3 c-gap"><ngx-card [config]="{width:'100%'}">
                        <div class="text-muted fs-10">Outstanding</div>
                        <div>{{clientSummary().outstanding | currency:'INR'}}</div>
                    </ngx-card>
                </div>
            </div>
        </div>
    </div>
</section>